# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
.env
.venv/
venv/
env/
*.env
*.db
*.pot
*.mo
*.coverage
.coverage.*
.cache/
.mypy_cache/
.pytest_cache/
.tox/
pip-wheel-metadata/
*.manifest
*.spec

# Go
bin/
*.exe
*.dll
*.so
*.dylib
*.test
*.out
vendor/
*.log


# React (Node.js)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.cache
*.next/
.next/
out/
coverage/
.DS_Store

# General environment files
.env
*.env
.env.*